body {
    background-color: #000;
    padding: 10px;
    font-family: monospace;
    color: #00ff00;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

@keyframes shake {
    0% { transform: translate(5px, 0px) rotate(1deg); }
    15% { transform: translate(0px, 5px) rotate(1deg); }
    30% { transform: translate(-5px, 0px) rotate(-1deg); }
    45% { transform: translate(0px, -5px) rotate(-1deg); }
    60% { transform: translate(5px, 0px) rotate(1deg); }
    75% { transform: translate(0px, 5px) rotate(1deg); }
    90% { transform: translate(-5px, 0px) rotate(-1deg); }
    100% { transform: translate(0px, -5px) rotate(-1deg); }
}

span {
    color: #00ff00;
    font-weight: bold;
}

.outputWrapper {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    height: 750px;
    border: 1px solid #00ff00;
    margin: 10px;
    padding: 10px;
}

.characterInfo {
    height: 500px;
    width: 500px;
    background-color: #000;
    border: 1px solid #00ff00;
    float: right;
    margin: 10px;
    padding: 10px;
    overflow-y: hidden;
}
.dice {
    color: #00ff00;
    font-weight: bold;
    font-size: 30px;
    height: 218px;
    width: 500px;
    border: 1px solid #00ff00;
    margin: 10px;
    padding: 10px;
    clear: right;
    float: right;
    margin-top: 0px;
}

.input, .prompt {
    white-space: pre;
    overflow: auto;
    padding: 10px;
    background-color: transparent;
    outline: none;
}

/* Apply styles to the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style alternating table rows */
tr:nth-child(even) {
    background-color: #001;
}

/* Style table data cells */
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}


